<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{% static 'home.css' %}" type="text/css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Single+Day&display=swap" rel="stylesheet">

    <title>Movie</title>

</head>
<body>
    <!-- <img src="/static/backimg.jpg" /> -->
    <div class="container">
        <h1 class="recom">Movie</h1>
        <div class="item">
            <form action="{% url 'home' %}" method='post'>{% csrf_token %} 
                 <input type="text" name="name" class="home_css">
                <button type="submit" class="button">검색</button>
            </form>
        </div>
    </div>
</body>
</html>